.abc{
  font-size: 50px;
  background-color: #4a3a3a;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.def{
  font-size: 20px;
  background-color:  #4a3a3a; 
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



.img-gallery{
 display: inline-flex;
 flex-direction: column;
 column-gap: 20px;
 row-gap: 20px;
 height: 500px;
 width: 450px;
vertical-align: top;
margin-top: 30px;
margin-right: 100px;
margin-left: 50px;
}

.img-gallery2{
  display: inline-flex;
  flex-direction :column ;
  column-gap: 20px;
  row-gap: 20px;
  height: 500px;
  width: 450px;
 justify-content: right;
 vertical-align: top;
 margin-top: 30px;
 margin-left: 100px;
}


