.abc{
  font-size: 50px;
  background-color: #4a3a3a;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.def{
  font-size: 20px;
  background-color:  #4a3a3a; 
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



.img-gallery{
 display: grid;
 grid-template-columns: 1fr;
 column-gap: 30px;
 row-gap: 30px;
 align-items: center;

}

.img-gallery2{
display: grid;
grid-template-columns: 1fr;
  column-gap: 30px;
  row-gap: 30px;
 align-items: center;
}


